.container {

  background-color: rgba(0, 0, 0, 0.648);
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 15px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.imgs {
  width: 30px;
  height: 30px;
  background-color: green;
  border-radius: 50%;

}

#insta {
  border-radius: 10px;

}

@media (min-width:700px) {
  .container {
    width: 100px;
    height:100vh;
    flex-direction: column;
  }

  .imgs{
    width: 50px;
    height: 50px;
  }
}