.services{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    color:rgba(241, 231, 231, 0.765);
    padding: 10px;
    
}
.list{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    height: 50%;
    border: 1px white solid;
}
.contact{
    color: rgb(16, 168, 16);
}