/*
@font-face {
  font-family: 'matrix_Mym';
  src: url('./Componentes/imagenes/matrix-4.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family:"matrix_Mym";*/

}
body{
  background-image: url("./Componentes/imagenes/matrix.gif");
}
header{
  position: fixed;
  left:0;
  top: 0;
  width: 100%;
  background-color:rgb(23, 26, 26);
  height: 100px;
  z-index:10;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.titulo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1{
  
  text-align: center;
  font-size: 17px;
  color:blanchedalmond;
  font-family:sans-serif;
 
}
h2{
  text-align: center;
  font-size: 17px;
  color:blanchedalmond;
  font-family:sans-serif;
}
button{ 
  border:none;
  background-image: url("./Componentes/imagenes/pngwing.png");
  background-size:contain ;
  background-color: rgba(10, 67, 76, 0);
  width:50px;
  height: 50px;
  background-position:center;
}
nav{
  position: fixed;
}
li{
  align-items: center;
  list-style: none;
  text-align: center;
  color:blanchedalmond;
 
}
@keyframes deraiz {
  0% {left: -300px;}
  25% {left: -250px;}
  50% {left: -200px;}
  75% {left: -100px;}
  100% {left:0;}
}
#MenuP{
  position:fixed;
  top:100px;
  left: 0;
  background-color:rgb(23, 26, 26);
  width: 100%;
  height:100vh;
  display: flex;
  flex-direction: column;
}
.menuTit{
  background-color: rgb(10, 67, 76);
  height: 50px;
  font-size:25px;
  color:ivory;
  text-align: center;
  padding-top: 10px;
}
.equis{ 
  border:none;
  border-radius: 50%;
  background-image: url("./Componentes/imagenes/equis.png");
  background-size:cover ;
  background-repeat: no-repeat;
  width:30px;
  height: 30px;
  background-position:center;
  position: absolute;
  right: 5px;
  top:5px;
}
.enlaces{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:300px;
}

.imgInicio{
  margin-left: 20px;
  margin-top:5px;
  width:30px;
  height:30px;
  background-color: rgb(10, 67, 76);
  background-image: url("./Componentes/imagenes/inicio.png");
  background-position: center;
  background-size:25px;
  background-repeat: no-repeat;
  border-radius:50%;
  margin-right: 10px;
  border: solid 1px whitesmoke;
 
}
.imgSM{
  margin-top:5px;
  margin-left: 20px;
  width:30px;
  height:30px;
  background-color: rgb(10, 67, 76);
  background-image: url("./Componentes/imagenes/sobremi.png");
  background-position: center;
  background-size:25px;
  background-repeat: no-repeat;
  border-radius:50%;
  margin-right: 10px;
  border: solid 1px whitesmoke;
}
.imgServicios{
  margin-top:5px;
  margin-left: 20px;
  width:30px;
  height:30px;
  background-color: rgb(10, 67, 76);
  background-image: url("./Componentes/imagenes/servicios.png");
  background-position: center;
  background-size:25px;
  background-repeat: no-repeat;
  border-radius:50%;
  margin-right: 10px;
  border: solid 1px whitesmoke;
}
.imgPortafolio{
  margin-top:5px;
  margin-left: 20px;
  width:30px;
  height:30px;
  background-color: rgb(10, 67, 76);
  background-image: url("./Componentes/imagenes/portafolio.png");
  background-position: center;
  background-size:25px;
  background-repeat: no-repeat;
  border-radius:50%;
  margin-right: 10px;
  border: solid 1px whitesmoke;
}
li{
  display: flex;
  flex-direction: row;
}

#yo{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  }
 
  .Link{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
  }
  
  section{
   
    background-color: rgb(10, 67, 76);
    position: fixed;
    width: 100%;
    height: 75px;
    bottom: 15px;
    left:0;
    display: flex;
    align-items: center;
    justify-content:space-around;
    
  }
  img.redsocial{
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 50%;
    
  }
  
  #insta{
    border-radius: 10px;
  
  }
  
  img{
    width: 125px;
    height: 75px;
  }
 
  footer{
 
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(23, 26, 26);
    color: aliceblue;
    position: fixed;
    bottom: 0px;
    width:100%;
    height:15px;
    text-align: center;
   
  }
  

/* animacion tp*/

@keyframes moveAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.inicio{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

#frase{
  background-color: rgba(10, 67, 76, 0.555);
  border-radius: 20px;
  color: aliceblue;
  /*font-family:"matrix_Mym";*/
  font-size: 35px;
  text-shadow: 5px 5px 5px rgb(10, 67, 76);
  width:100%;
  margin-bottom: 100px;
  text-align: center;
  
}
#ModeloTP{
    width: 250px;
    height: 250px;
    background-color: rgba(10, 67, 76, 0.555);
    border-radius: 50%;
    box-shadow: none;
    position:relative;
    left: 0;
    margin-top: 125px;
}

#TP {
    position:absolute;
    top:50%;
    margin-top: -68px;
    left:50%;
    margin-left: -68px;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0);
    animation: moveAround 2s infinite linear;
    z-index: 2;
  } 
  #TPL{
    position: absolute;
    top:50%;
    margin-top: -68px;
    left:50%;
    margin-left: -68px;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0);
    animation: moveAround 3s infinite linear;
    z-index: 3;
  }

  #sol{
      width: 30px;
      height:30px;
      border-radius: 50%;
      box-shadow: 20px 10px 20px 20px  white, inset 10px 10px 20px 20px rgba(251, 255, 0, 0.651);
      
  }
  #luna{
      width: 25px;
      height:25px; 
      
  }
  #estrellas{
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left:50%;
    margin-left: -100px;
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: moveAround 10s infinite linear;
    z-index: 4;
    opacity: 50%;
  }

  #tierraPlana{
      position:absolute;
      border-radius: 50%;
      top: 50%;
      margin-top: -100px;
      left:50%;
      margin-left: -100px;
      
      width: 200px;
      height:200px;
      z-index:0;
  }
  .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #Sobremi{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top:150px;
   

  }
  #soy{
    background-color: rgba(10, 67, 76, 0.555);
    border-radius: 20px;
    color: aliceblue;
    font-size: 25px;
    text-shadow: 5px 5px 5px rgb(10, 67, 76);
    width: 100%;
    margin-bottom:100px;
    text-align: center;
    padding:20px;
  }
  #servicios{
    color: aliceblue;
    font-size: 25px;
    text-shadow: 5px 5px 5px rgb(10, 67, 76);
    width: 100%;
    margin-top: 125px;
    margin-bottom:100px;
    text-align: center;
    padding:20px;

  }
  .portafolio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top:100px;
    margin-bottom: 100px;
  }
  .Lenguaje{
    border-radius: 10px;
    margin-bottom: 10px;
    width:100%;
    height: 100%;
    opacity: 0.7;

  }
  .LinkP{
    width:100%;
    height: 200px;
    margin-top: 10px;
    box-shadow: 10px 5px 10px rgba(245, 245, 245, 0.529);
    border: 5px solid rgba(10, 67, 76, 0.555);
    border-radius: 10px;
  }
  
  .servicios{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    margin-top: 100px;
    
  }
  #servicios{
    border-bottom: solid 1px whitesmoke;
    width: 50%;
    margin:0;
    margin-bottom: 25px;
  }
  .lista{
    padding: 15px;
    color: aliceblue;
    text-shadow: 5px 5px 5px rgb(10, 67, 76);
    margin-bottom: 100px;
    text-align: center;
    font-size: 30px;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgba(10, 67, 76, 0.555);
  }
  #cotizacion{
    
    color:aliceblue;
    text-align: center;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(10, 67, 76, 0.555);
    border-radius: 15px;
    width: 50%;
  }
  /*-----------------------------------------------------------------------------*/

/*Pantalla con mas de 700 px*/
  @media only screen and (min-width: 700px){
    @keyframes deraiz {
      0% {right: -300px;}
      25% {right: -250px;}
      50% {right: -200px;}
      75% {right: -100px;}
      100% {right:0;}
    }
    #yo:hover{
      width: 100px;
      height: 100px;
      box-shadow: 10px 5px 10px rgba(10, 67, 76, 0.555);
      }
    .LinkP:hover{
      width:125%;
      height: 225px;
      z-index: 999;
    } 
    button:hover{
      width: 70px;
      height:70px;
    }
    button{ 
      border:none;
      background-image: url("./Componentes/imagenes/pngwing.png");
      background-size:contain ;
      background-color: rgba(10, 67, 76, 0);
      width:50px;
      height: 50px;
      background-position:center;
    }

    #MenuP{
      position:fixed;
      top:100px;
      left: 0;
      background-color:rgb(23, 26, 26);
      width: 100%;
      height:300px;
      display: flex;
      flex-direction: column;
      
    }
    .menuTit{
      background-color: rgb(10, 67, 76);
      height: 50px;
      font-size:25px;
      color:ivory;
      text-align: center;
      padding-top: 10px;
    }
    .equis{ 
      border:none;
      border-radius: 50%;
      background-image: url("./Componentes/imagenes/equis.png");
      background-size:cover ;
      background-repeat: no-repeat;
      width:30px;
      height: 30px;
      background-position:center;
      position: absolute;
      right: 5px;
      top:5px;
    }
    .enlaces{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height:300px;
    }
    .inicio{
     display:grid;
     grid-template-columns: 1fr 2fr;
    
    }
    #frase{
      margin-top: 125px;
    }
    .contenedor{
      display: grid;
      grid-template-columns: 1fr 2fr ;
      align-items: flex-start;
      padding: 20px;
      margin-top: 125px;
      position: static;
    }
    #Sobremi{
      position:fixed;
      top:50%;
      margin-top: -125px;
      left:25px;
    }
    #soy{
      grid-column: 2/2;
    }
   .portafolio{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column: center;
    padding:20px;
   }
   img.redsocial{
    width: 50px;
    height: 50px;
  }
  
  #insta{
    border-radius: 15px;
  
  }
  img.redsocial:hover{
    width: 70px;
    height: 70px;
    box-shadow: 5px 10px 5px rgba(245, 245, 245, 0.534);
  }
  #insta:hover{
    border-radius: 20px;
  }
  
  }

  /*--------------------------------------------------------------------------*/
  /*Pantalla con un ancho mayor de 1000px*/

  @media only screen and (min-width: 1000px){

    .portafolio{
      display: grid;
      grid-template-columns: 1fr 1fr  1fr;
      padding:20px;
     }
  

  }

  /*----------------------------------------------------------------------------*/
  /*Pantalla cel acostado*/


  @media only screen and (max-height: 450px){
   
    section{
      visibility: hidden;
    }

    .inicio{
      display:grid;
      grid-template-columns: 1fr 2fr;
     
     }
     #ModeloTP{
       margin-top:100px;
       visibility: visible;
     }
     #frase{
       margin-bottom: 20px;
       margin-top:100px;
     }
     #MenuP{
       top:0;

     }
     .contenedor{
      display: grid;
      grid-template-columns: 1fr 2fr ;
      align-items: flex-start;
      padding: 20px;
      margin-top: 125px;
      position: static;
    }
    #Sobremi{
      width:200px;
      height:200px;
      position:fixed;
      top:50%;
      margin-top: -75px;
      left:25px;
    }
    #soy{
      grid-column: 2/2;
    }
    .portafolio{
      display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-column: center;
      padding:20px;
     }
  }