/*
@font-face {
  font-family: 'matrix_Mym';
  src: url('./Componentes/imagenes/matrix-4.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family:"matrix_Mym";*/

}
body{
  background-image: url("./Componentes/imagenes/matrix.gif");
}
header{
  position: fixed;
  left:0;
  top: 0;
  width: 100%;
  background-color:rgb(23, 26, 26);
  height: 100px;
  z-index:10;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.titulo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1{
  
  text-align: center;
  font-size: 17px;
  color:blanchedalmond;
  font-family:sans-serif;
 
}
h2{
  text-align: center;
  font-size: 17px;
  color:blanchedalmond;
  font-family:sans-serif;
}
button{ 
  border:none;
  background-image: url("./Componentes/imagenes/pngwing.png");
  background-size:contain ;
  background-color: rgba(10, 67, 76, 0);
  width:50px;
  height: 50px;
  background-position:center;
}
nav{
  position: fixed;
}
li{
  align-items: center;
  list-style: none;
  text-align: center;
  color:blanchedalmond;
 
}
@keyframes deraiz {
  0% {left: -300px;}
  25% {left: -250px;}
  50% {left: -200px;}
  75% {left: -100px;}
  100% {left:0;}
}
#MenuP{
  position:fixed;
  top:410px;
  left: 0;
  background-color:rgb(23, 26, 26);
  width: 100%;
  height:300px;
  display: flex;
  flex-direction: column;
}
.menuTit{
  background-color: rgb(10, 67, 76);
  height: 50px;
  font-size:25px;
  color:ivory;
  text-align: center;
  padding-top: 10px;
}
.equis{ 
  border:none;
  border-radius: 50%;
  background-image: url("./Componentes/imagenes/equis.png");
  background-size:cover ;
  background-repeat: no-repeat;
  width:30px;
  height: 30px;
  background-position:center;
  position: absolute;
  right: 5px;
  top:5px;
}
.enlaces{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:300px;
}

.imgInicio{
  margin-left: 20px;
  margin-top:5px;
  width:30px;
  height:30px;
  background-color: rgb(10, 67, 76);
  background-image: url("./Componentes/imagenes/inicio.png");
  background-position: center;
  background-size:25px;
  background-repeat: no-repeat;
  border-radius:50%;
  margin-right: 10px;
  border: solid 1px whitesmoke;
 
}
.imgSM{
  margin-top:5px;
  margin-left: 20px;
  width:30px;
  height:30px;
  background-color: rgb(10, 67, 76);
  background-image: url("./Componentes/imagenes/sobremi.png");
  background-position: center;
  background-size:25px;
  background-repeat: no-repeat;
  border-radius:50%;
  margin-right: 10px;
  border: solid 1px whitesmoke;
}
.imgServicios{
  margin-top:5px;
  margin-left: 20px;
  width:30px;
  height:30px;
  background-color: rgb(10, 67, 76);
  background-image: url("./Componentes/imagenes/servicios.png");
  background-position: center;
  background-size:25px;
  background-repeat: no-repeat;
  border-radius:50%;
  margin-right: 10px;
  border: solid 1px whitesmoke;
}
.imgPortafolio{
  margin-top:5px;
  margin-left: 20px;
  width:30px;
  height:30px;
  background-color: rgb(10, 67, 76);
  background-image: url("./Componentes/imagenes/portafolio.png");
  background-position: center;
  background-size:25px;
  background-repeat: no-repeat;
  border-radius:50%;
  margin-right: 10px;
  border: solid 1px whitesmoke;
}
li{
  display: flex;
  flex-direction: row;
}

#yo{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  }
 
  .Link{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
  }
  
  section{
   
    background-color: rgb(10, 67, 76);
    position: fixed;
    width: 75px;
    height: 300px;
    top: 100px;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    box-shadow: 5px 2px 5px whitesmoke;
  }
  img.redsocial{
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 50%;
    
  }
  
  #insta{
    border-radius: 10px;
  
  }
  
  img{
    width: 125px;
    height: 75px;
  }
  #frase{
    color: aliceblue;
    /*font-family:"matrix_Mym";*/
    font-size: 35px;
    text-shadow: 5px 5px 5px rgb(10, 67, 76);
    width: 70%;
    margin-top:400px;
    margin-bottom: 100px;
    margin-left:15%;
    text-align: center;
  
  }
  footer{
 
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(23, 26, 26);
    color: aliceblue;
    position: fixed;
    bottom: 0px;
    width:100%;
    text-align: center;
   
  }
  

/* animacion tp*/

@keyframes moveAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#ModeloTP{
    width: 250px;
    height: 250px;
    background-color: rgba(10, 67, 76, 0.555);
   
    top: 115px;
    left: 60%;
    margin-left: -125px;
    border-radius: 50%;
    box-shadow: none;
    z-index: 1;
}
#TP {
    position:absolute;
    top:calc(50%-100px);
    left:calc(50%-100px);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0);
    animation: moveAround 2s infinite linear;
    z-index: 2;
  } 
  #TPL{
    position: absolute;
    top: calc(50%-100px);
    left:calc(50%-100px);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0);
    animation: moveAround 3s infinite linear;
    z-index: 3;
  }

  #sol{
      width: 30px;
      height:30px;
      border-radius: 50%;
      box-shadow: 20px 10px 20px 20px  white, inset 10px 10px 20px 20px rgba(251, 255, 0, 0.651);
      
  }
  #luna{
      width: 25px;
      height:25px; 
      
  }
  #estrellas{
    position: absolute;
    top: calc(50%-135px);
    left: calc(50%-135px);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: moveAround 10s infinite linear;
    z-index: 4;
    opacity: 50%;
  }

  #tierraPlana{
      position: absolute;
      border-radius: 50%;
      top:calc(50%-140px);
      left:calc(50%-140px);
      width: 200px;
      height:200px;
      z-index:0;
  }
  
  #Sobremi{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left:100px;
    margin-top:100px;
   

  }
  #soy{
    color: aliceblue;
    font-size: 25px;
    text-shadow: 5px 5px 5px rgb(10, 67, 76);
    width: 75%;
    margin-left:75px;
    margin-top:100px;
    margin-bottom:50px;
    text-align: center;

  }
  .portafolio{
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:100px;
    
    
  }
  .Lenguaje{
    border-radius: 10px;
    height: 150px;
    margin-top:15px;
    margin-bottom: 10px;
    text-align: center;
    width:100%;
    height: 100%;

  }
  .LinkP{
    
    width:75%;
    margin-left: 70px;
  }

  @media only screen and (min-width: 700px){
    @keyframes deraiz {
      0% {right: -300px;}
      25% {right: -250px;}
      50% {right: -200px;}
      75% {right: -100px;}
      100% {right:0;}
    }
    button{ 
      border:none;
      background-image: url("./Componentes/imagenes/pngwing.png");
      background-size:contain ;
      background-color: rgba(10, 67, 76, 0);
      width:50px;
      height: 50px;
      background-position:center;
    }

    #MenuP{
      position:fixed;
      top:100px;
      left: 80px;
      background-color:rgb(23, 26, 26);
      width: 90%;
      height:300px;
      display: flex;
      flex-direction: column;
      
    }
    .menuTit{
      background-color: rgb(10, 67, 76);
      height: 50px;
      font-size:25px;
      color:ivory;
      text-align: center;
      padding-top: 10px;
    }
    .equis{ 
      border:none;
      border-radius: 50%;
      background-image: url("./Componentes/imagenes/equis.png");
      background-size:cover ;
      background-repeat: no-repeat;
      width:30px;
      height: 30px;
      background-position:center;
      position: absolute;
      right: 5px;
      top:5px;
    }
    .enlaces{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height:300px;
    }
    .portafolio{
    
    
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top:100px;
      
      
    }
    .LinkP{
    
      width:75%;
      height: 200px;
      margin-left: 80px;
    }

  }